* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Ultra", serif;
}

header #carrinho {
  /* estilos aqui */
}

main {
  width: 416px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.produtos {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.qtd {
  font-size: 30px;
  padding: 0 10px;
  width: 50px;
  display: inline-block;
}

button:not(#buy-button) {
  width: 20px;
}

button[onclick^="add"] {
  background-color: rgb(170, 255, 170);
}

button[onclick^="remove"] {
  background-color: rgb(255, 163, 163);
}

#buy-button {
  margin: 40px auto 0;
  width: 200px;
  height: 50px;
  display: block;
}
