* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(./bg-wooden-paper.jpg);
}

header {
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

header #carteira{
  border: 2px solid green;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(170, 255, 170);
  font-size: 30px;
}

header h1 {
  font-family: "Ultra", serif;
}

header #carrinho {
  border: 2px solid black;
  padding: 20px;
}

/* icone de carrinho */
#carrinho:first-child{ 
  width: 100px;
}

main {
  background-color: rgba(255, 228, 196, 0.4);
  width: 416px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.produtos {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.qtd {
  font-size: 30px;
  padding: 0 10px;
  width: 50px;
  display: inline-block;
}

button:not(#buy-button) {
  width: 20px;
}

.add {
  background-color: rgb(170, 255, 170);
}

.remove{
  background-color: rgb(255, 163, 163);
}

#buy-button {
  margin: 40px auto 0;
  width: 416px;
  height: 100px;
  display: block;
  background-color: green;
  font-size: 30px;
  font-weight: 600;
  border: 2px solid rgb(0, 57, 0);
  border-radius: 5px;
  color: white;
}

#buy-button:hover {
  background-color: rgb(0, 57, 0);
}
